// 878DFF 7C82FF 7178FF 646CFF 4D55FF 333DFF 1A25FF
body {
  --vt-c-brand: #646cff;
  --vt-c-brand-light: #7178ff;
  --vt-c-brand-dark: #4d55ff;
  --vt-c-brand-highlight: #4d55ff;
  --vt-c-green: #646cff;

  --vt-c-indigo: #213547;
  --vt-c-indigo-soft: #476582;
  --vt-c-indigo-light: #aac8e4;
}
// .code-group__nav-tab {
//   color: #999;
// }
// @
